@import "../../../vars.css";

.output {
  width: 300px;
  height: 200px;
  border: var(--border);
  position: absolute;
  left: 60%;
  top: 50%;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: black;
  white-space: pre-wrap;
}

.title {
  background: white;
  color: black;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: var(--border);
}
